// Margin and Padding classes
$spaceAmounts: (0,1,2,3,4,5);

@each $space in $spaceAmounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }

  .my-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;
  }

  .mx-#{$space} {
    margin-left: #{$space}rem;
    margin-right: #{$space}rem;
  }

  .ml-#{$space} {
    margin-left: #{$space}rem;
  }

  .mr-#{$space} {
    margin-right: #{$space}rem;
  }

  .mt-#{$space} {
    margin-top: #{$space}rem;
  }

  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }

  .py-#{$space} {
    padding-top: #{$space}rem;
    padding-bottom: #{$space}rem;
  }

  .px-#{$space} {
    padding-left: #{$space}rem;
    padding-right: #{$space}rem;
  }

  .pl-#{$space} {
    padding-left: #{$space}rem;
  }

  .pr-#{$space} {
    padding-right: #{$space}rem;
  }

  .pt-#{$space} {
    padding-top: #{$space}rem;
  }

  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }
}

// Width and Height Levels
$sizeAmounts: (0,10,20,30,40,50,60,70,80,90,100);

@each $size in $sizeAmounts {
  .h-#{$size} {
    height: percentage($size) / 100;
  }

  .w-#{$size} {
    width: percentage($size) / 100;
  }
}
