$font-stack: Avalon, sans-serif;
$font-second-stack: Shentox, sans-serif;
$primary-color: #fdfdfd;
$secondary-color: #f42;
$third-color: #c09;
$dark-color: #131313;
$announcement-color: #fd3;
$funding-color: #ffece8;
