/* All document */
* {
  margin: 0;
  padding: 0;
  font-family: Avalon, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 10px;
}

/* Header Section */
.navbar-logo-background {
  grid-column: 1 / 3;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  min-height: 40px;
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: inline-block;
  width: 60%;
  margin: auto;
}

.navbar {
  grid-column: 1 / 13;
  background-color: #fdfdfd;
  margin-top: 0;
  grid-gap: 0;
}

.top-links-bar {
  grid-column: 1 / 13;
  background-color: #131313;
  padding: 4px 10px;
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.top-links {
  display: flex;
  padding: 5px 0;
  font-size: 12px;
}

.top-link {
  align-self: center;
  color: #ababab;
  text-decoration: none;
  margin-right: 15px;
}

.visited {
  color: #fff;
}

.top-link:hover {
  color: #fff;
}

.bottom-links {
  grid-column: 3 / 13;
  background-color: #fdfdfd;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.bottom-link {
  align-self: center;
  font-family: Shentox, sans-serif;
  color: #a9a9a9;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
  display: none;
}

.bottom-link:hover {
  color: black;
}

.bottom-link-last {
  margin-left: auto;
}

.navbar-search {
  justify-self: end;
  color: #a9a9a9;
  border-left: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  padding: 15px;
}

.navbar-menu {
  margin-left: 5px;
  color: red;
  border-left: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  padding: 15px;
}

.top-announcement {
  grid-column: 1 / 13;
  background-color: #fd3;
  min-height: 50px;
  margin-top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

.top-announcement p {
  font-size: 0.7em;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  grid-column: 1 / 13;
}

.hero-header {
  grid-column: 1 / 13;
  min-height: 200px;
  margin: -8px 10px 35px;
}

.main-hero-section {
  background: url("../img/coronavirus.png") no-repeat;
  grid-column: 1 / 13;
  min-height: 200px;
  background-size: cover;
  position: relative;
}

.cover-gradient {
  display: none;
  height: 400px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25) url("../img/cover-gradient.png") no-repeat;
  background-size: cover;
}

.cover-logo {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  height: 400px;
  width: 50%;
  background: url("../img/tnw.svg") no-repeat;
}

.cover-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: bottom url("../img/cover-shadow.png") repeat-x;
}

.cover-date {
  display: none;
  color: #fff;
  font-size: 0.8em;
  position: absolute;
  top: 15px;
  right: 15px;
}

.cover-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}

.cover-category {
  position: absolute;
  top: -20px;
  color: #fff;
  font-size: 0.4em;
  font-weight: 500;
}

.cover-info {
  font-weight: 300;
  font-size: 0.3em;
  margin-top: 10px;
  display: block;
}

.cover-icons {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.secondary-hero-section {
  grid-column: 1 / 13;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 200px;
}

.first-section {
  background-image: url("/assets/img/circles.jpg");
  width: 100%;
}

.second-section {
  background-image: url("/assets/img/google-calendar.png");
  width: 100%;
}

.secondary {
  font-size: 1.5em;
}

/* Main Content Body */
.content-body {
  grid-column: 1 / 13;
  margin: 0 10px;
}

.latest-news {
  margin: auto;
  min-height: 300px;
  max-width: 1152px;
  grid-template-rows: 35px auto;
}

.next-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  color: #f42;
}

.latest-news .card-header {
  grid-column: 1 / 13;
  font-weight: bold;
  color: #f42;

  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.card-header h1:hover {
  color: #000;
}

.latest-news-card {
  grid-column: 1 / 13;
  min-height: 20px;
  display: flex;
  height: 110px;
  overflow: hidden;
  padding: 10px 0;
}

.card-image {
  margin-right: 10px;
  flex: 1 0 100px;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-content {
  font-weight: bold;

  /* position: relative; */
}

.card-author {
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;
  display: inline-block;
  color: #adadad;
}

.funding-news {
  background-color: red;
  margin: 10px auto;
  min-height: 150px;
  max-width: 1152px;
}

.funding-news-links {
  grid-column: 1 / 13;
}

.funding-news-card {
  grid-column: 1 / 13;
  min-height: 20px;
  background-color: blue;
}

.content-section {
  background-color: purple;
  margin: 10px auto;
  min-height: 600px;
  max-width: 1152px;
}

.content-card {
  grid-column: 1 / 13;
  min-height: 50px;
  background-color: blue;
}

.all-deals-link a {
  color: #f42;
  font-size: 0.8em;
  text-decoration: none;
}

.deal-ribbon {
  display: none;
  background-image: url("../../assets/img/deals-ribbon.svg");
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  right: 0;
}

.discount {
  transform: rotate(45deg) translate(28px, 0);
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}

.deal-card {
  position: relative;
}

/* Media queries */
@media (min-width: 768px) {
  .navbar {
    margin-top: 0;
  }

  .navbar-logo-background {
    grid-column: 1 / 2;
    grid-row: span 2;
  }

  .top-links-bar {
    display: block;
    grid-column: 2 / 13;
    grid-row: span 1;
  }

  .bottom-links {
    grid-column: 2 / 13;
    grid-row: span 1;
  }

  .bottom-link {
    display: inline;
  }

  .navbar-menu {
    display: none;
  }

  .main-hero-section {
    grid-column: 1 / 9;
    grid-row: 1 / 3;
    min-height: 400px;
  }

  .secondary-hero-section {
    grid-column: 9 / 13;
  }

  .latest-news-card {
    overflow: unset;
    flex-direction: column;
    height: 100%;
    grid-column: span 4;
  }

  .card-content {
    margin-top: 10px;
  }

  .funding-news-card {
    grid-column: span 4;
  }

  .content-card {
    grid-column: span 6;
  }

  .latest-deals-card {
    grid-column: span 4;
  }

  .top-announcement {
    font-size: 1.2em;
  }

  .cover-content {
    font-size: 2em;
    width: 100%;
  }

  .secondary {
    font-size: 1.2em;
    width: 90%;
  }

  .deal-ribbon {
    display: block;
  }
}

@media (min-width: 1024px) {
  .bottom-links {
    grid-column: 1 / 13;
  }

  .navbar-logo-background {
    display: none;
  }

  .top-links-bar {
    grid-column: 1 / 13;
  }

  .latest-news-card {
    grid-column: span 3;
  }

  .content-card {
    grid-column: span 4;
  }

  .latest-deals-card {
    grid-column: span 3;
  }

  .top-announcement {
    min-height: 25px;
    justify-content: start;
  }

  .cover-gradient,
  .cover-logo,
  .cover-date {
    display: block;
  }

  .cover-content {
    width: 85%;
    font-size: 2.6em;
  }

  .secondary {
    font-size: 1.3em;
  }
}
