.m-0 {
  margin: 0rem;
}

.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

.ml-0 {
  margin-left: 0rem;
}

.mr-0 {
  margin-right: 0rem;
}

.mt-0 {
  margin-top: 0rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.p-0 {
  padding: 0rem;
}

.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pt-0 {
  padding-top: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.h-0 {
  height: 0%;
}

.w-0 {
  width: 0%;
}

.h-10 {
  height: 10%;
}

.w-10 {
  width: 10%;
}

.h-20 {
  height: 20%;
}

.w-20 {
  width: 20%;
}

.h-30 {
  height: 30%;
}

.w-30 {
  width: 30%;
}

.h-40 {
  height: 40%;
}

.w-40 {
  width: 40%;
}

.h-50 {
  height: 50%;
}

.w-50 {
  width: 50%;
}

.h-60 {
  height: 60%;
}

.w-60 {
  width: 60%;
}

.h-70 {
  height: 70%;
}

.w-70 {
  width: 70%;
}

.h-80 {
  height: 80%;
}

.w-80 {
  width: 80%;
}

.h-90 {
  height: 90%;
}

.w-90 {
  width: 90%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Avalon, sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:  minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-columns:  minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-gap: 10px;
}

.navbar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  background-color: #fdfdfd;
  margin-top: 0;
  grid-gap: 0;
}

/* Header Section */
.navbar-logo-background {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background: -webkit-gradient(linear, left top, right bottom, from(#c09), color-stop(85%, #f42));
  background: linear-gradient(to bottom right, #c09, #f42 85%);
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  display: inline-block;
  width: 60%;
  margin: auto;
}

.top-links-bar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  background-color: #131313;
  padding: 4px 10px;
  display: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  font-size: 12px;
}

.top-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ababab;
  text-decoration: none;
  margin-right: 15px;
}

.visited {
  color: #fff;
}

.top-link:hover {
  color: #fff;
}

.bottom-links {
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3 / 13;
  background-color: #fdfdfd;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Shentox, sans-serif;
  color: #a9a9a9;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 10px;
  display: none;
}

.bottom-link:hover {
  color: black;
}

.bottom-link-last {
  margin-left: auto;
}

.navbar-search {
  -ms-grid-column-align: end;
      justify-self: end;
  color: #a9a9a9;
  border-left: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  padding: 15px;
}

.navbar-menu {
  margin-left: 5px;
  color: red;
  border-left: solid;
  border-width: 1px;
  border-color: #a9a9a9;
  padding: 15px;
}

.top-announcement {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  background-color: #fd3;
  min-height: 50px;
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}

.top-announcement p {
  font-size: 0.7em;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.hero-header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  min-height: 200px;
  margin: -8px 10px 35px;
}

.main-hero-section {
  background: url("../img/coronavirus.png") no-repeat;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  min-height: 200px;
  background-size: cover;
  position: relative;
}

.cover-gradient {
  display: none;
  height: 400px;
  width: 100%;
  background: rgba(0, 0, 0, 0.25) url("../img/cover-gradient.png") no-repeat;
  background-size: cover;
}

.cover-logo {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  height: 400px;
  width: 50%;
  background: url("../img/tnw.svg") no-repeat;
}

.cover-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#111), to(transparent));
  background: linear-gradient(0deg, #111, transparent);
}

.cover-date {
  display: none;
  color: #fff;
  font-size: 0.8em;
  position: absolute;
  top: 15px;
  right: 15px;
}

.cover-content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}

.cover-category {
  position: absolute;
  top: -20px;
  color: #fff;
  font-size: 0.4em;
  font-weight: 500;
}

.cover-info {
  font-weight: 300;
  font-size: 0.3em;
  margin-top: 10px;
  display: block;
}

.cover-icons {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.secondary-hero-section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 200px;
}

.first-section {
  background-image: url("../img/circles.jpg");
  width: 100%;
}

.second-section {
  background-image: url("../img/google-calendar.png");
  width: 100%;
}

.secondary {
  font-size: 1.5em;
}

/* Main Content Body */
.content-body {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  margin: 0 10px;
}

.latest-news {
  margin: 0 auto 15px;
  min-height: 300px;
  max-width: 1152px;
  -ms-grid-rows: 120px auto;
      grid-template-rows: 120px auto;
}

.next-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 28px;
  color: #f42;
}

.card-header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  font-weight: bold;
  color: #f42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.card-header h1:hover {
  color: #000;
}

.latest-news-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  overflow: hidden;
  padding: 10px 0;
}

.card-image {
  margin-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100px;
          flex: 1 0 100px;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-content {
  font-weight: bold;
}

.card-author {
  font-weight: normal;
  font-size: 15px;
  margin-top: 5px;
  display: inline-block;
  color: #adadad;
}

.funding-news-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.funding-news-image {
  position: absolute;
  top: 20px;
  left: 20px;
}

.funding-news-image img {
  height: 60px;
  width: 60px;
}

.funding-links {
  font-weight: normal;
}

.all-deals-link a {
  color: #f42;
  font-size: 0.8em;
  text-decoration: none;
}

.footer-links a {
  text-decoration: none;
  color: #aaa;
  font-size: 0.8em;
  margin: 0 2px;
}

.funding-links a:hover {
  color: black;
}

.funding-news-card-title {
  background-color: #f42;
  color: white;
  font-weight: bold;
  padding: 15px 15px 15px 30%;
}

.funding-news-card-number {
  background-color: #ffece8;
  color: #000;
  font-weight: bold;
  padding: 15px 15px 15px 30%;
}

.funding-news-card-number h4 {
  padding: 0;
}

.funding-news-card-number h5 {
  padding: 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #adadad;
}

.funding-news-card-companies {
  background-color: #fffaf9;
  color: #000;
  padding: 15px 20px;
  font-size: 0.9em;
}

.funding-news-card-info {
  border-top: #f42 solid 1px;
  background-color: #fffaf9;
  color: #000;
  padding: 15px 20px;
  font-size: 0.8em;
}

.funding-disappear {
  display: none;
}

.content-section {
  grid-gap: 30px;
  margin: 10px auto;
  max-width: 1152px;
}

.content-card {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-card-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  min-height: 250px;
  background-image: url("../img/google-calendar.png");
  margin-top: 20px;
}

.content-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.underlined:hover {
  text-decoration: underline;
}

.content-category,
.content-author {
  display: block;
  font-size: 0.7em;
}

.content-author {
  font-weight: normal;
  color: #adadad;
}

.content-card-summary {
  margin-top: 2px;
  background-color: #fff4f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-card-summary p {
  color: #f42;
  padding: 15px;
  font-weight: bold;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.content-card-summary img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.content-items {
  list-style-type: none;
  padding-left: 15px;
}

.content-item {
  padding: 10px 0;
  border-bottom: 1px #eee solid;
  color: #5c5c5c;
  font-size: 0.8em;
}

.content-item::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.deal-ribbon {
  display: none;
  background-image: url("../img/deals-ribbon.svg");
  height: 75px;
  width: 75px;
  position: absolute;
  top: 0;
  right: 0;
}

.discount {
  -webkit-transform: rotate(45deg) translate(28px, 0);
          transform: rotate(45deg) translate(28px, 0);
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
}

.deal-card {
  position: relative;
}

.footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
}

.footer-top {
  background-color: #141414;
}

.footer-links,
.footer-icons {
  width: 70%;
  margin: auto;
  text-align: center;
  color: white;
  padding: 15px;
}

.footer-icons i {
  margin: 5px;
  border: solid #333 1px;
  border-radius: 50%;
  background-color: #333;
  width: 30px;
  height: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icons i:hover {
  background-color: transparent;
}

.footer-bottom {
  background-color: #000;
}

.footer-copyright {
  color: #aaa;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  font-size: 0.8em;
}

.footer-logo {
  height: 10px;
  margin: 0 2px;
}

/* Media queries */
@media (min-width: 768px) {
  .navbar {
    margin-top: 0;
  }
  .navbar-logo-background {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    grid-row: span 2;
  }
  .top-links-bar {
    display: block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2 / 13;
    grid-row: span 1;
  }
  .bottom-links {
    -ms-grid-column: 2;
    -ms-grid-column-span: 11;
    grid-column: 2 / 13;
    grid-row: span 1;
  }
  .bottom-link {
    display: inline;
  }
  .navbar-menu {
    display: none;
  }
  .main-hero-section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    min-height: 400px;
  }
  .secondary-hero-section {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
  .latest-news-card {
    overflow: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    grid-column: span 4;
  }
  .card-content {
    margin-top: 10px;
  }
  .funding-news-card {
    grid-column: span 4;
  }
  .funding-news-card-title,
  .funding-news-card-number {
    padding-left: 35%;
  }
  .content-card {
    grid-column: span 6;
  }
  .latest-deals-card {
    grid-column: span 4;
  }
  .top-announcement {
    font-size: 1.2em;
  }
  .cover-content {
    font-size: 2em;
    width: 100%;
  }
  .secondary {
    font-size: 1.2em;
    width: 90%;
  }
  .deal-ribbon {
    display: block;
  }
  .latest-news {
    -ms-grid-rows: 60px auto;
        grid-template-rows: 60px auto;
  }
}

@media (min-width: 1024px) {
  .bottom-links {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .navbar-logo-background {
    display: none;
  }
  .top-links-bar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
  .latest-news-card {
    grid-column: span 3;
  }
  .content-card {
    grid-column: span 4;
  }
  .latest-deals-card {
    grid-column: span 3;
  }
  .top-announcement {
    min-height: 25px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .cover-gradient,
  .cover-logo,
  .cover-date {
    display: block;
  }
  .cover-content {
    width: 85%;
    font-size: 2.6em;
  }
  .secondary {
    font-size: 1.3em;
  }
  .funding-disappear {
    display: block;
  }
  .funding-news-card {
    grid-column: span 3;
  }
}
